.profile_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-bottom: ridge skyblue;
  margin: 0 auto;
  display: block;
}

#about {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about .about_me {
  text-align: center;
  padding: 15px ;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  
}

.about_me h1, .about_me h2 {
  color: whitesmoke;
  font-size: 40px;
 
}

.about_me p{
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  color: rgb(111, 158, 154);
}

.about_btn {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


@media screen and (max-width: 478px) {
  .profile_image {
    width: 200px;
    height: 200px;
  }
  #about h2 {
    font-size: 18px;
  }
  .about_me p{
    max-width: 100%;
    font-size: 14px;
    padding-bottom: 0;
  }
  .about_btn { 
    flex-direction: column;
    gap: 20px;
}
  }
 