#root{
  height: 1000px;
}

html {
  font-family: 'Poppins', sans-serif !important;
  
}

body {
  font-family: inherit !important; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-animation {
  0% { margin-top: 0; }
   25% { margin-top: 0; }
   50% { margin-top: -5.62rem; }
   75% { margin-top: -5.62rem; }
   100% { margin-top: 0;  }
 }
 
.container_animation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 142px 0px #20a7d8;
}

#about h1,
#about .animation {
 color: rgb(252, 253, 247);
 font-size: 40px;
 font-weight: 700;
 text-align: center;
 animation: fadeIn 2s ease-in-out;
 padding: 10px;
}

.animation {
  height:80px;
  overflow:hidden;
}

.animation > div > div {
  padding: 0.25rem 1.75rem;
  height: 3.81rem;
  margin-bottom: 1.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
  border-radius: 25px;
  box-shadow: 0 4px 8px #20a7d8;
}
.second div {
  background-color:#CD921E;
   border-radius:25px;
   box-shadow: 0 4px 8px #CD921E;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 200px 100px; 
  border-radius: 50px;
  box-shadow: 0px 2px 15px 10px lightskyblue;
  animation: fadeIn 4s ease-in-out;
}

.about-profile_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-bottom: ridge skyblue;
  box-shadow: 0px 0px 18px skyblue;
  display: block;
  animation: fadeIn 4s ease-in-out;
  padding: 10px;
}

#about .about-me {
  text-align: center;
  padding: 15px ;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.about-me p{
  max-width: 95%;
  margin: 0px 70px 20px 70px;
  color: rgb(111, 158, 154);
  text-align: start;
}

.about-btn {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
  animation: fadeIn 6s ease-in-out;
}


@media screen and (max-width: 768px) {
  .animation > div > div {
    height: 25px;
    font-size: 12px;
  }
  .container_animation {
    flex-direction: column; 
    height: 90px;
  }
  #about h1 {
    font-size: 20px;
    margin: 0;
  }

  .about-container {
    flex-direction: column;
    margin: 40px 20px 20px 20px;
    gap: 10px;
  }
  .about-profile_image {
    width: 150px;
    height: 150px;
  }
  .about-me p{
    max-width: 100%;
    font-size: 14px;
    padding-bottom: 0;
    margin: 0;
    text-align: center;
  }
  .about-btn { 
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}